{% extends 'base.html' %}
{% block content %}
<div class="container">
        <table id="departments-table" class="table table-bordered"> 
            <tr>
                <th>Employee</th>
                <th class="text-center">Birth date</th>
                <th class="text-center">Salary</th>
                <th class="text-center">Department</th>
                <th class="left"></th>
                <th class="left"></th>
            </tr>
        </table>
</div>
{% for el in employ_data %}
    <div class="container">
        <table id="departments-table" class="table table-bordered"> 
            <tr>
                <td class="text-center">{{ el.name }}</td>
                <td class="text-center">{{ el.birth_date }}</td>
                <td class="text-center">{{ el.salary }}$</td>
                <td class="text-center">{{ el.depart }}</td>
                <td class="left text-center">
                  <a href="/employee" style="text-decoration:none;">
                    <span>Edit</span>
                  </a> 
                <td class="left text-center">
                    <a href="/employees/{{ el.id }}/del" style="text-decoration:none;">
                      <span>Delete</span>
                </a>     
              </td>
            </tr>
        </table>
</div>
{% endfor %}
</div>


{% endblock content %}