{% extends 'base.html' %}
{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Welcome to Department app</h1><br>
      </div>
      <h1 class="fs-5 text">With this app you can easily manage your departments and employees:</h1><br>
      <p class="fs-5 text">1. Add/delete and edit already existing departments and employees.</p>
      <p class="fs-5 text">2. You can choose department for each employee.</p>
      <p class="fs-5 text">3. The application automatically calculates the average salary for each department depending on the salaries of the employees in the department.</p>
    
{% endblock content %}